<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="perfil">
    <ion-card-content>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/icon.png" alt="">
        </ion-thumbnail>
        <ion-label> Luana Lima</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
<br>

  <ion-card class="card1">
    <ion-item>
    <ion-icon name="chatbubble"></ion-icon>
    <ion-card-content>
      <p>Conversas</p>
    </ion-card-content>
  </ion-item>
</ion-card>

<ion-card class="card1">
  <ion-item>
    <ion-icon name="notifications"></ion-icon>
    <ion-card-content>
      <p>Notificações</p>
    </ion-card-content>
  </ion-item>
</ion-card>

<ion-card class="card1">
  <ion-item>
    <ion-icon name="card"></ion-icon>
    <ion-card-content>
      <p>Pagamentos</p>
    </ion-card-content>
  </ion-item>
</ion-card>

<ion-card class="card1">
  <ion-item>
    <ion-icon name="star"></ion-icon>
    <ion-card-content>
      <p>Assinaturas</p>
    </ion-card-content>
  </ion-item>
</ion-card>

<ion-card class="card1">
  <ion-item>
    <ion-icon name="film-sharp"></ion-icon>
    <ion-card-content>
      <p>Cupons</p>
    </ion-card-content>
  </ion-item>
</ion-card>

<ion-card class="card1">
  <ion-item>
    <ion-icon name="location"></ion-icon>
    <ion-card-content>
      <p>Endereço</p>
    </ion-card-content>
  </ion-item>
</ion-card>

<ion-card class="card1">
  <ion-item>
    <ion-icon name="create"></ion-icon>
    <ion-card-content>
      <p>Meus dados</p>
    </ion-card-content>
  </ion-item>
</ion-card>

<ion-card class="card1">
  <ion-item>
    <ion-icon name="log-out"></ion-icon>
    <ion-card-content>
      <p>Sair</p>
    </ion-card-content>
  </ion-item>
</ion-card>

<ion-card class="card1">
  <ion-item>
    <ion-icon name="finger-print"></ion-icon>
    <ion-card-content>
      <p>Administrador</p>
    </ion-card-content>
  </ion-item>
</ion-card>


</ion-content>
